/*
/// ETML
/// Auteur : Anthony Pfister
/// Date : 17.05.2023
/// Description : page de style pour la mise en page du site
*/

/*page entière*/
body{
    background-color: rgb(247, 208, 158);
    font-family:"Gill Sans", sans-serif ;
    height:100%;
    
}

/*contenaire image d'accueil*/
.image_accueil{
    float: right;
    margin-right: 100px;
    text-align: center;
}

.image_accueil img{
    
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

.image_accueil{
    size: 300px;
}

/*menu navigateur*/
.navigateur{
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}
.navHome {
    float: left;
    padding: 2%;
}
.navListArticle {
    float: left;
    padding: 2%;

}
.navlogin {
    float: right;
    padding: 2%;

}
.navUserDetail {
    float: right;
    padding: 2%;

}

.navBarr {
    text-decoration:none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.actif {
    color: rgb(209, 167, 50);
    text-decoration:none;
    font-weight: bold;
}
/*contenaire liste article*/
.connListeArticle{
    float: center;
    width: 90%;
    height: 300px;
    text-align: center;
    margin-bottom: 100px;
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

/*tous les bouton du site*/
.connButton {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}
.connButton:hover {
    background-position: right center;
}
.connButton:active {
    top: 2px;
}
.btnAddArticle{
    float: right;
    Margin-right:50px;
}

/*contenaire d'information de l'article*/
.infoArticle{
    float: center;
    width: 90%;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

/*contenaire d'information de l'utilisateur*/
.infoUser{
    float: center;
    width: 90%;
    height: max-content;
    text-align: center;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);

}
.imgarticle{
    width: 300px;
    height: 300px;
    float: left;
}

/*contenaire formulaire ajout d'article*/
.divformAddArticle{
    float: center;
    width: 30%;
    height: 300px;
    text-align: left;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; 
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

/*contenaire formulaire modification d'article*/
.divformModifArticle{
    float: center;
    width: 30%;
    height: 300px;
    text-align: left;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; 
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

/*contenaire liste d'emprunt de l'utilisateur*/
.userEmprlist{
    float: center;
    width: 90%;
    height: 550px;
    text-align: center;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

.userEmprlist .infoarticles{
    
    width: 100%;

    text-align: center;
    margin-bottom: 0px;
    padding: 2%;
    color: #000;

}
.userEmprlist .userEmprlistconn{
    float:left;
    width: 15%;
    margin-left: 50px;
    height: max-content;
    text-align: center;
    margin-bottom: 0px;
    padding: 2%;
    color: #000;

}

/*notification sur la page profil*/
.notifMessage{
    display: none;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
}

/*Message d'erreur*/
.errMessage{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D63301;
    background-color: #FFCCBA;
}

/*contenaire information article*/
.connContainer{
    float: center;
    width: 30%;
    height: 300px;
    text-align: left;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; 
    padding: 2%;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}

/*barre de recherche*/
.search {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    height: 36px;
    position: relative;
    display: flex;
  }

.searchTerm {
    width: 100%;
    height: 36px;
    border: 3px solid #f0cb35;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #000;
}

.searchButton {
    width: 150px;
    height: 36px;
    border: 1px solid #f0cb35;
    background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Pied de page*/
footer{

    width: 90%;
    height: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    padding-bottom:15px;
    position: fixed;
    bottom: 0;
    right: 5%; 
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.11),
0px 2px 2px 0px rgba(0,0,0,0.11),
0px 4px 4px 0px rgba(0,0,0,0.11),
0px 6px 8px 0px rgba(0,0,0,0.11),
0px 8px 16px 0px rgba(0,0,0,0.11);
}
footer p{
    width: 80%;
}
.img_footer{
    width: 10px;
    height: 1px;
    position: fixed;
    bottom: 110px;
    right: 40%;
}